.display {-fx-background-color: #dddddd;}

.board {
    -fx-min-width: 240; -fx-min-height: 240;
    -fx-focus-traversable: true;
}

#selected-tile { -fx-background-color: rgba(20,85,30,0.5);}

.move-dest {-fx-background-color: radial-gradient(center 50% 50%, radius 20%, black, derive(rgba(0,0,0,0.8), 10%), derive(rgba(0,0,0,0), 100%));}
.move-dest:hover {-fx-background-color: rgba(20,85,30,0.3);}

.move-dest.capture {-fx-background-color: radial-gradient(center 50% 50%, radius 95%, rgba(0,0,0,0), rgba(0,0,0,0), rgb(0,0,0));}
.move-dest.capture:hover {-fx-background-color: rgba(20,85,30,0.3);}

.check {-fx-background-color: radial-gradient(center 50% 50%, radius 100%, red, derive(#e70000, 25%),
        derive(rgba(169,0,0,0), 89%), derive(rgba(158,0,0,0), 100%));}

.promotion-veil {-fx-background-color: rgba(0, 0, 0, 0.35);}
.promotion-options {-fx-background-color: rgb(200, 200, 200);}

.move-history{
    -fx-background-color: #ffffff;
    -fx-hgap: 3;
}

.move-label {-fx-font: normal 15 'serif';}
.move-label:hover {
    -fx-background-radius: 0;
    -fx-background-color: rgb(27, 120, 208);

    -fx-text-background-color: white;
}
.selected-move-label {
    -fx-background-radius: 3;
    -fx-background-color: rgb(209, 228, 246);
    -fx-font: normal bolder 15 'serif';
}
